body{
    background-color: #f2f2f2;
}

#header{
    font-size: 60px;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 0px;
    display: inline-block;
}
.container-fluid{
    padding: 0px;
}

.horizontal-rule {
    margin: 0px;
    border-style: solid;
    border-top: 25px solid #ffe680;
}

#games-container {
    margin: 20px;
    margin-right: 70px;
    margin-left: 70px;
}

.game{
    margin-right: 30px;
    margin-left: 30px;
    height: 200px;
    overflow: hidden;
}

.game h3{
    display: inline-block;
}
.game-hover h3{
    border-bottom: 3px solid black;
    margin-bottom: 7px;
}

svg{
/*border: 1px solid black;*/
}

body {
font-family: 'Cousine', monospace;
}

iframe {
    border: none;
    pointer-events: none;
    -moz-transform: scale(0.25, 0.25); 
    -webkit-transform: scale(0.25, 0.25); 
    -o-transform: scale(0.25, 0.25);
    -ms-transform: scale(0.25, 0.25);
    transform: scale(0.25, 0.25); 
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
}

#games-container .row {
    margin-bottom: 50px;
}