/* index.css
 * stylesheet for index.html
 */

body{
	font-family: 'Vulf Mono Light Italic';
	margin:0;
	font-size: 18px;
	letter-spacing: 2px;
}

.container-fluid{
	padding:0;
}
.pane{
	position: relative;
}

.col-md-6 {
	padding: 0;
}

h1{
	color: white;
	letter-spacing: 10px;
	font-style: italic;
}
#hero-image{
	background-image: url("wwmairs.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.hero-text{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#pane2 {
	background: rgba(255, 0, 0, 0.7);
}

#pane3{
	background: rgba(0, 128, 0, 0.7);
}
#pane4{
	background: rgba(0, 0, 255, 0.7);
}
#pane5{
	background: rgba(128, 0, 128, 0.7);
}
#pane6{
	background: rgba(255, 255, 0, 0.7);
}


a.buttons {
	/*margin: auto;*/
	/*width: 10%;*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 3%;
	text-align: center;
	border: 3px solid white;
	border-radius: 400px;
	color: white;
	font-size: 24px;
	letter-spacing: 5px;
	text-decoration: none;
	display: block;
}


a.buttons:hover{
	background-color: white;
	color: black;
}

/*
leftover from old contact panel
a.buttons-light {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 3%;
	text-align: center;
	border: 2px solid black;
	border-radius: 400px;
	color: black;
	font-size: 24px;
	letter-spacing: 5px;
	text-decoration: none;
	display: block;
}


a.buttons-light:hover{
	border: 2px solid white;
	background-color: white;
	color: black;
}*/

#footer{
	height: 0;
}

footer {
	/*text-align: center;*/
	padding-left: 10px;
	font-size: 10px;
	color: white;
	transform: translate(0, -100%);
}



