/* resume.css
 * stylesheet for resume.html
 */

body{
  font-family: Roboto;
  margin:0;
  font-size: 18px;
  letter-spacing: 2px;
}

div{
  overflow:hidden;
}

.container-fluid{
  padding:0;
}


.pane{
  position: relative;
  color: white;
  padding-left: 10%;
  padding-right: 10%;
}

h1{
  text-align: center;
  font-style: italic;
  color: black;
  letter-spacing: 10px;
  font-size: 25px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h2{
  text-align: center;
  font-style: italic;
  letter-spacing: 4px;
}
h3{
  text-align: center;
  font-style: italic;
}
#education{
  background: rgba(255, 0, 0, 0.7);
  text-align: center;
}

#languages{
  background: rgba(0, 0, 255, 0.7);
  text-align: center;
}

#experience{
  background: rgba(255, 255, 0, 0.7);
  text-align: center;
  color: black;
}
/* formatting of navigation bar */
ul.nav {
  /* starts hidden */
  display: none;
  /*list-style-type: none;*/
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.7);
}

ul.nav li a {
  font-size: 24px;
  color: white;
}


ul.nav li a:hover {
  background-color: rgba(0, 0, 255, 0.7);
  color: white;
  cursor: default;
}