/* resume.css
 * stylesheet for resume.html
 */


h1{
	font-family: 'Vulf Mono Light Italic';
	text-align: center;
	color: black;
	letter-spacing: 10px;
	font-size: 28px;
}

h2{
	font-family: 'Vulf Mono Light Italic';
	padding: 10px;
	text-align: center;
	letter-spacing: 4px;
	font-size: 18px;
}
h3{
	font-family: 'Vulf Mono Light';
	text-align: center;
	font-style: italic;
	font-size: 14px;
}


body{
	font-family: 'Vulf Mono Light Italic';
	margin:0;
	font-size: 12px;
	letter-spacing: 2px;
}

.container-fluid{
	padding:0;
	padding-left:100px;
	background: rgba(128, 0, 128, 0.7);
}

.content{
	padding: 20px;
	color: white;
}
.row{
	text-align: center;
}

.progress{
	background: rgba(255, 255, 128, 0.0);
	border: none;
	box-shadow: 0 0 0 0;
	border-radius: 40px;
	height: 45px;
}

.progress-bar-custom{
	font-family: 'Vulf Mono Regular';
	/*background: rgba(0, 0, 255, 0.7);*/
	border-radius: 40px;
	box-shadow: 0 0 0 0;
	/*color: rgba(128, 0, 128, 0.7);*/
	color: white;
	text-align: right;
	padding-right: 10px;
	padding-top: 13px;
}

a{
	text-decoration: none;
	color: white;
}

a:hover {
	cursor: default;
	color: black;
	text-decoration: none;
	border-bottom: 2px dashed white;
}

/* sidebar */
#sidebar-wrapper{
	position: absolute;
	/*position: fixed;*/
	width: 100px;
	/*height: 100%;*/
}

.sidebar-nav {
	list-style-type: none;
	margin: 0;
	padding: 20px;
}

.sidebar-nav li {
	padding-top: 10px;
	padding-bottom: 10px;
}

.internal-nav {
	list-style-type: none;
	margin: 0;
	padding-left: 0px;
	padding-top: 20px;
}


.internal-nav li {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-left: 1px solid white;
}

.internal-nav a {
	font-size: 10px;
}

#home-button{
	padding: 10px;
	margin: 20px;
	margin-bottom: 0px;
	border-radius: 1px;
	border: 1px solid white;
}

#home-button a{
	font-size: 14px;
}


#footer {
	/*margin-top: 47px;*/
	padding-left: 0px;
	color: white;
	height: 150px;
	background: rgb(0, 51, 52);
}

#logo {
	font-size: 32px;
}

#footer .row {
	padding-top: 60px;
}

#footer ul{
	list-style: none;
}

#footer li{
	float: right;
	padding: 10px;
}