/* style.css
 * an attempted master stylesheet
 */
 
/*
  * page colors
  * who:    #0F935A
  * what:   #16588A
  * where:  #6ABEFE
  * work:   #D78416
  * resume: #D74D16
  * contact:#FF8D60 
  *
  */

:root{
    --text-color: black;
}

h1{
    font-family: 'Vulf Mono Light Italic';
    text-align: center;
    color: var(--text-color);
    letter-spacing: 10px;
    font-size: 28px;
}

h2{
    margin: auto;
    width: 350px;
    border-bottom: 1px solid var(--page-color);
    font-family: 'Vulf Mono Light Italic';
    margin-top: 10px;
    text-align: center;
    letter-spacing: 4px;
    font-size: 20px;
    line-height: 150%;
}
h3{
    margin: 0;
    margin-top: 15px;
    font-family: 'Vulf Mono Light';
    /*text-align: center;*/
    padding-left: 100px;
    font-style: italic;
    font-size: 18px;
}
h4{
    font-family: 'Vulf Mono Light';
    text-align: center;
    font-style: italic;
    font-size: 16px;
}

body{
    font-family: 'Vulf Mono Light';
    margin:0;
    font-size: 16px;
    letter-spacing: 2px;
    background: var(--page-color);
}

p{
    margin-bottom: 20px;
}

.section{
    padding-bottom: 10px;
}

.container-fluid{
    padding:0;
    /*padding-left:175px;*/
    background: white;
}

.content{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--text-color);
    /*border-left: 1px solid var(--page-color);*/
}
.row{
    text-align: left;
    margin: none;
    padding: none;
}

.resume-fillings{
    /*text-align: center;*/
    /*margin-left: 100px;*/
    margin: auto;
    width: 300px;
    font-size: 12px;
    margin-bottom: 25px;
}


a{
    text-decoration: none;
    color: var(--text-color);
}


a:hover {
    /*cursor: default;*/
    color: var(--text-color);
    text-decoration: none;
    border-bottom: 2px dashed var(--text-color);
}

#name {
    text-align: center;
    font-family: 'Vulf Mono Light';
    /*transform: translate(0px, -30px);*/
    padding-bottom: 20px;
    margin: 0;
    /*border-bottom: 1px solid var(--page-color); */
}


/* bits for footer */
#footer {
    border-top: 1px solid var(--page-color);
    padding-top: 20px;
    /*margin-top: 80px;*/
}
#footer p {
    text-align: center;
    font-size: 12px;
    margin-bottom: 0;
}
