/* style.css
 * an attempted master stylesheet
 */
 
@import url("plex/font.css");
@import url('https://fonts.googleapis.com/css?family=Cousine:400,400i');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700i');
:root{
    --text-color: black;
		--green: #3D9662;
		--red: #DF6151;
		--yellow: #F7C450;
		--blue: #3680E8;
		--grey: #FEFEFE;
}

h1{
    font-family: 'ibm_plex_monolight';
    color: var(--text-color);
    letter-spacing: 10px;
    font-size: 68px;
    display: inline-block;
}

h2{
    font-family: 'ibm_plex_monolight';
    letter-spacing: 1px;
    font-size: 40px;
    line-height: 150%;
}

h3{
    /*font-family: 'ibm_plex_monolight';*/
		font-family: 'Playfair Display', serif;
    font-size: 44px;
		letter-spacing: 2.5px;
		text-transform: lowercase;
}

h4{
    font-family: 'ibm_plex_monolight';
    text-align: left;
    font-style: italic;
    font-size: 20px;
}

body {
    font-family: 'Cousine', monospace;
    margin:0;
    font-size: 16px;
    letter-spacing: 2px;
    background-color: var(--grey);
}

a {
    text-decoration: none;
    color: black;
    border-bottom: 2px solid black;
}

a:hover {
    text-decoration: none;
		color: black;
    border-bottom: 2px solid var(--blue);
}

a:focus {
    text-decoration: none;
}

p {
    font-size: 15px;
    /*text-align: justify;*/
}

/* buttons on landing */

#buttons-container{
    position: fixed;
    bottom: 0;
    height: 50px;
    right: 0;
    width: 180px;
}

#buttons-container div {
    float: left;
    /*height: 16vh;*/
    display: inline-block;
    margin-right: 10px;
}

#buttons-container a {
    color: black;
    text-decoration: none;
}

/* svg on desktop landing */
#squiggle-container {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* columns */

.columns {
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-y: auto;
}

.column {
    display: inline-block;
    float: left;
    padding: 30px;
}

.column h2{
    margin-top: 0px;
    margin-bottom: 20px;
}


/* freaking bootstrap */
.container-fluid {
    padding: 0px;
}


/* sidebar and links on text pages */

#side {
    position: fixed;
    top: 0;
    right: 0;
    width: 150px;
}

.not_shown #links{
		transform: translateX(150px);
}


#links {
		background-color: var(--red);
    position: absolute;
		top: 0;
		right: 0;
		height: 100vh;
		width: 150px;
		z-index: -1;
		padding-top: 125px;
		transition: transform .15s;
		-webkit-transition: transform .15s;
}

#links div {
    display: inline-block;
    text-align: center;
    color: black;
    width: 100%;
    margin-bottom: 20px;
}

#links a {
	border: none;
	color: var(--grey);
}

#links .current {
	color: var(--yellow);
}

#links a:hover {
	color: var(--blue);
}


/* little wwm box above links on text pages */

#wwm-box {
    margin: 30px;
		margin-bottom: 15px;
}

#wwm-box:hover a{
    font-style: normal;
}

#wwm-box a{
    display: inline-block;
    height: 100%;
    width: 100%;
    border: none;
}

#wwm-box h3{
		font-size: 24px;
    font-family: 'ibm_plex_monolight';
		text-transform: uppercase;
    border: 2px solid var(--red);
    color: var(--red);
		background-color: var(--grey);
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
		margin: 0px;
    display: inline-block;
}

.not_shown #wwm-box:hover h3{
    background-color: var(--red);
    color: var(--grey);
}
.not_shown #wwm-box h3 {
	background-color: var(--grey);
	color: var(--red);
}



/* portfolio entries */
.portfolio_entry {
	width: 29vw;
	display: inline-block;
}

.portfolio_entry h3 a {
  line-height: 1.3;
	border: 0px;
	border-bottom: 3px solid var(--yellow);
}

.portfolio_entry h3 {
  font-style: italic;
}

.portfolio_entry p {
}


/* contact.html specific */
.contact-info {
    font-size: 13px;
}

.label {
    color: black;
    padding: 0;
}

/* width dependant tweaks */

/* desktop */
@media (min-width: 757px) {
    /* landing */
    #name {
        position: fixed;
        bottom: 0;
        margin: 0px;
        margin-left: 10px;
    }
		.entries_container {
			width: 90vw;
			margin: auto;
		}
}

/* mobile */
@media (max-width: 756px) {
    /* landing */
    #name {
        position: fixed;
        top: 0;
        margin-left: 10px;
    }
    #name h1 {
        margin: 0px;
    }
    #buttons-container {
        left: 0;
        margin-left: 10px;
    }
    /* links and side on other pages */
    #side {
        width: 120px;
    }
    #links {
        margin-left: 0px;
				width: 120px;
    }
    #wwm-box {
			margin: 10px;	
    }
    .column {
        margin-right: 120px;
        margin-left: 30px;
        padding-left: 0px;
        padding-right: 0px;
        border-bottom: 2px solid var(--green);
    }

    .column:last-child {
        border-bottom: none;
    }
		/* portfolio container */
		.entries_container {
			width: 95vw;
			margin: auto;
		}

		.portfolio_entry {
			width: 95vw;
		}
}
