/* style.css
 * an attempted master stylesheet
 */
 
/*
  * page colors
  * who:    #0F935A
  * what:   #16588A
  * where:  #6ABEFE
  * work:   #D78416
  * resume: #D74D16
  * contact:#FF8D60 
  *
  */
@import url("plex/font.css");
@import url('https://fonts.googleapis.com/css?family=Cousine:400,400i');
:root{
    --text-color: black;
}

h1{
    font-family: 'ibm_plex_monolight';
    color: var(--text-color);
    letter-spacing: 10px;
    font-size: 68px;
    display: inline-block;
}

h2{
    font-family: 'ibm_plex_monolight';
    letter-spacing: 4px;
    font-size: 36px;
    line-height: 150%;
}
h3{
    font-family: 'ibm_plex_monolight';
    font-size: 32px;
}
h4{
    font-family: 'ibm_plex_monolight';
    text-align: center;
    font-style: italic;
    font-size: 14px;
}

body{
    font-family: 'Cousine', monospace;
    margin:0;
    font-size: 16px;
    letter-spacing: 2px;
    background-color: #f2f2f2;
}
p{
    font-size: 15px;
    /*text-align: justify;*/
}

.container-fluid{
    padding:0;
    padding-left:175px;
    background: white;
}

.content{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--text-color);
    border-left: 1px solid var(--page-color);
}
.row{
    text-align: left;
}

#svg-container {
    position: fixed;
    z-index: -1;
}

#name1 {
    position: fixed;
    top: 0;
    margin-top: 10px;
    margin-left: 10px;
}


#name2 {
    position: fixed;
    top: 40vh;
    left: 25vw;
    margin-top: 10px;
}

#name3 {
    position: fixed;
    bottom: 0; 
    margin-left: 10px; 
}

#buttons-container{
    position: fixed;
    top: 8vh;
    right: 0;
    width: 20px;
}

#buttons-container div {
    text-align: right;
    float: right;
    height: 16vh;
    display: inline-block;
    margin-right: 10px;
}

#buttons-container a {
    color: white;
    text-decoration: none;
}

#columns {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 150px;
}

.column {
    display: inline-block;
    float: left;
    width: 33%;
    padding: 30px;
}

.column h2{
    margin-top: 0px;
    margin-bottom: 20px;
}

#side {
    position: fixed;
    top: 0;
    right: 0;
    width: 150px;
}

#links {
    position: relative;
    top: 100px;
}

#links div {
    display: inline-block;
    text-align: right;
    float: right;
    color: black;
    width: 150px;
    margin-bottom: 10px;
}

#links a{
    color: black;
    border-bottom: 2px solid black;
}

#links a:hover{
    text-decoration: none;
    border-bottom: 2px solid var(--page-color);
    font-style: italic;
}

#wwm-box {
    margin: 30px;
    border: 2px solid var(--page-color);
}

#wwm-box:hover {
    background-color: var(--page-color);
}

#wwm-box:hover h3 {
    color: #f2f2f2;
}

#wwm-box a{
    display: inline-block;
    height: 100%;
    width: 100%;
}

#wwm-box h3{
    color: var(--page-color);
    width: 100%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
}