/* bio.css*/

h2{
  font-family: 'Vulf Mono Italic';
  padding: 10px;
}
body {
  font-family: 'Vulf Mono Light Italic';
  font-size: 18px;
  letter-spacing: 2px;
  margin: 0;
  text-align: center;
  background: rgba(255, 0, 0, 0.7);
}

div{
  overflow:hidden;
}

p{
  margin: auto;
  width: 75%;
  padding: 5px;
}

.container-fluid{
  padding:0;
}


/* formatting of navigation bar */
ul.nav {
  /* starts hidden */
  /*display: none;*/
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

ul.nav li a {
  font-size: 16px;
  color: black;
}


ul.nav li a:hover {
  background-color: rgba(0, 0, 255, 0.7);
  color: white;
  cursor: default;
}